.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(43, 43, 219);
}

.border-container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(
    55,
    55,
    180
  ); /* Ajusta el relleno según tus preferencias */
}

.p-2 {
  text-align: center;
  padding: 1rem;
  font-family: 'Franklin Gothic Medium';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
